Import pandas

In [109]:
import pandas as pd

카카오게임즈 주가 시세추이에 관한 엑셀 파일을 파이썬으로 옮겨서 읽으세요.

In [110]:
df = pd.read_excel('210702KakaoGames.xlsx')
df

/opt/anaconda3/lib/python3.8/site-packages/openpyxl/styles/stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
0,2021/07/02,71600,14100,24.52,58400,73500,58300,20948559,1403487482200,5342790568000,74619980
1,2021/07/01,57500,-300,-0.52,58200,59100,57200,1451292,84327739000,4290648850000,74619980
2,2021/06/30,57800,-1900,-3.18,59800,60400,57500,2964777,173035122100,4313034844000,74619980
3,2021/06/29,59700,4600,8.35,56000,60800,55600,6225740,366211062000,4454812806000,74619980
4,2021/06/28,55100,-700,-1.25,56000,56100,54800,754215,41584704400,4111560898000,74619980
...,...,...,...,...,...,...,...,...,...,...,...
195,2020/09/16,66300,-1200,-1.78,66200,69500,65400,5054826,341766014500,4853473665300,73204731
196,2020/09/15,67500,-6300,-8.54,69900,71200,67100,8309414,571735411600,4941319342500,73204731
197,2020/09/14,73800,-7300,-9.00,86500,89100,73400,20213705,1634549354100,5402509147800,73204731
198,2020/09/11,81100,18700,29.97,81100,81100,81100,5013124,406563945000,5936903684100,73204731
199,2020/09/10,62400,14400,30.00,48000,62400,48000,561750,35028245500,4567975214400,73204731

데이터의 정보를 가져올려면 .info()를 쓰시면 됩니다.

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      200 non-null    object
 1   종가      200 non-null    int64
 2   대비      200 non-null    int64
 3   등락률     200 non-null    float64
 4   시가      200 non-null    int64
 5   고가      200 non-null    int64
 6   저가      200 non-null    int64
 7   거래량     200 non-null    int64
 8   거래대금    200 non-null    int64
 9   시가총액    200 non-null    int64
 10  상장주식수   200 non-null    int64
dtypes: float64(1), int64(9), object(1)
memory usage: 17.3+ KB

최대 거래대금 값을 구하세요.

In [112]:
df['거래대금'].max()

1634549354100

최저 거래량을 구하세요.

In [113]:
df['거래량'].min()

254722

종가가 시가보다 크고 등락률이 0보다 작은 날짜들을 구하세오.

일단 두개의 조건을 먼저 걸어주세요.

In [114]:
(df['종가'] > df['시가']) & (df['등락률'] < 0)

0      False
1      False
2      False
3      False
4      False
       ...
195     True
196    False
197    False
198    False
199    False
Length: 200, dtype: bool

조건을 건 다음에 조건들이 성립이 될때를 테이블에 선택을 해주세요.

In [115]:
df[(df['종가'] > df['시가']) & (df['등락률'] < 0)]

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
7,2021/06/23,55700,-900,-1.59,55500,56400,55000,890172,49585771000,4156332886000,74619980
90,2021/02/23,52400,-800,-1.50,52000,52800,51200,784644,40829847500,3898077500800,74390792
106,2021/01/28,47800,-950,-1.95,47700,48300,47350,779204,37232838900,3542774866200,74116629
138,2020/12/10,47300,-1650,-3.37,46950,48150,46900,2821609,133956278300,3502642288200,74051634
157,2020/11/13,48150,-500,-1.03,48050,48400,47700,351364,16859285250,3559001712750,73914885
168,2020/10/29,44600,-50,-0.11,44000,44850,43850,359512,15935348800,3286057041400,73678409
170,2020/10/27,44050,-50,-0.11,43700,44600,42950,422999,18596256300,3245533916450,73678409
175,2020/10/20,44750,-300,-0.67,44500,45400,44000,807867,35936340850,3297108802750,73678409
181,2020/10/12,49100,-3900,-7.36,45350,49800,45300,6330061,305193971450,3617609881900,73678409
195,2020/09/16,66300,-1200,-1.78,66200,69500,65400,5054826,341766014500,4853473665300,73204731

마지막으로 일자를 선택을 해서 원하는 날짜들을 구하실 수 있습니다.

In [116]:
df[(df['종가'] > df['시가']) & (df['등락률'] < 0)]['일자']

7      2021/06/23
90     2021/02/23
106    2021/01/28
138    2020/12/10
157    2020/11/13
168    2020/10/29
170    2020/10/27
175    2020/10/20
181    2020/10/12
195    2020/09/16
Name: 일자, dtype: object

카카오게임즈의 '2021년' 정보만 빼서 새로운 dataframe으로 보여주세요.

일단 함수를 써서 정보를 가져올 수 있습니다. 함수를 써서 테이블의 '일자' 열에서 .split()를 써서 '/' 기준으로 년도를 '2021'으로 구분하면 됩니다.

In [117]:
def date(string):
    if '2021' == string.split('/')[0]:
        return True
    else :
        return False

새로 만든 함수를 응용하면 됩니다.

In [118]:
df[df['일자'].apply(date)]

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
0,2021/07/02,71600,14100,24.52,58400,73500,58300,20948559,1403487482200,5342790568000,74619980
1,2021/07/01,57500,-300,-0.52,58200,59100,57200,1451292,84327739000,4290648850000,74619980
2,2021/06/30,57800,-1900,-3.18,59800,60400,57500,2964777,173035122100,4313034844000,74619980
3,2021/06/29,59700,4600,8.35,56000,60800,55600,6225740,366211062000,4454812806000,74619980
4,2021/06/28,55100,-700,-1.25,56000,56100,54800,754215,41584704400,4111560898000,74619980
...,...,...,...,...,...,...,...,...,...,...,...
120,2021/01/08,47000,850,1.84,46250,48500,45600,2476777,116823954450,3483481563000,74116629
121,2021/01/07,46150,100,0.22,46050,46300,45950,492689,22711074400,3420482428350,74116629
122,2021/01/06,46050,-550,-1.18,46650,46650,46000,548582,25319463300,3410077745700,74051634
123,2021/01/05,46600,600,1.30,46000,46600,45600,743739,34225768250,3450806144400,74051634
124,2021/01/04,46000,0,0.00,46300,46300,45750,511567,23493482950,3406375164000,74051634

고가에서 저가를 뺀 값을 dataframe에 새로운 열을 추가해주세요.

In [119]:
df['고가-저가'] = df['고가'] - df['저가']
df

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수,고가-저가
0,2021/07/02,71600,14100,24.52,58400,73500,58300,20948559,1403487482200,5342790568000,74619980,15200
1,2021/07/01,57500,-300,-0.52,58200,59100,57200,1451292,84327739000,4290648850000,74619980,1900
2,2021/06/30,57800,-1900,-3.18,59800,60400,57500,2964777,173035122100,4313034844000,74619980,2900
3,2021/06/29,59700,4600,8.35,56000,60800,55600,6225740,366211062000,4454812806000,74619980,5200
4,2021/06/28,55100,-700,-1.25,56000,56100,54800,754215,41584704400,4111560898000,74619980,1300
...,...,...,...,...,...,...,...,...,...,...,...,...
195,2020/09/16,66300,-1200,-1.78,66200,69500,65400,5054826,341766014500,4853473665300,73204731,4100
196,2020/09/15,67500,-6300,-8.54,69900,71200,67100,8309414,571735411600,4941319342500,73204731,4100
197,2020/09/14,73800,-7300,-9.00,86500,89100,73400,20213705,1634549354100,5402509147800,73204731,15700
198,2020/09/11,81100,18700,29.97,81100,81100,81100,5013124,406563945000,5936903684100,73204731,0
199,2020/09/10,62400,14400,30.00,48000,62400,48000,561750,35028245500,4567975214400,73204731,14400

추가한 열을 다시 뺄려면 .drop() method를 쓰고 axis는 0이 행, 1이 열이고, 'inplace=True'를 해서 변경된 사항을 저장하면 됩니다.

In [120]:
df.drop("고가-저가",axis=1,inplace=True)
df

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
0,2021/07/02,71600,14100,24.52,58400,73500,58300,20948559,1403487482200,5342790568000,74619980
1,2021/07/01,57500,-300,-0.52,58200,59100,57200,1451292,84327739000,4290648850000,74619980
2,2021/06/30,57800,-1900,-3.18,59800,60400,57500,2964777,173035122100,4313034844000,74619980
3,2021/06/29,59700,4600,8.35,56000,60800,55600,6225740,366211062000,4454812806000,74619980
4,2021/06/28,55100,-700,-1.25,56000,56100,54800,754215,41584704400,4111560898000,74619980
...,...,...,...,...,...,...,...,...,...,...,...
195,2020/09/16,66300,-1200,-1.78,66200,69500,65400,5054826,341766014500,4853473665300,73204731
196,2020/09/15,67500,-6300,-8.54,69900,71200,67100,8309414,571735411600,4941319342500,73204731
197,2020/09/14,73800,-7300,-9.00,86500,89100,73400,20213705,1634549354100,5402509147800,73204731
198,2020/09/11,81100,18700,29.97,81100,81100,81100,5013124,406563945000,5936903684100,73204731
199,2020/09/10,62400,14400,30.00,48000,62400,48000,561750,35028245500,4567975214400,73204731